NEXT_PUBLIC_TILESERV_URL=
NEXT_PUBLIC_FEATURESERV_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SCHEMA=mrm_last
NEXT_PUBLIC_BASEMAP_KEY=5LT66NpiLQSckIYytvrV

NEXT_PUBLIC_LINK_HOME_OTHERS=https://www.arcep.fr/demarches-et-services/pour-tous/monreseaumobile-comparer-couverture-qualite-service-operateurs-mobiles.html
NEXT_PUBLIC_LINK_FOOTER_NOTICE=https://jedonnemonavis.numerique.gouv.fr/Demarches/3837?&view-mode=formulaire-avis&nd_source=button&key=8ff63591c71710f7811c8a4f2f6067cb
NEXT_PUBLIC_LINK_FOOTER_LEGALE_NOTICE=https://www.arcep.fr/mentions-legales-mrm.html
NEXT_PUBLIC_LINK_FOOTER_SITEMAP=https://www.arcep.fr/
NEXT_PUBLIC_LINK_FOOTER_CONTACT=https://www.arcep.fr/nous-contacter.html
NEXT_PUBLIC_LINK_FOOTER_FACEBOOK=https://www.facebook.com/arcep.fr/
NEXT_PUBLIC_LINK_FOOTER_TWITTER=https://mastodon.social/@arcep@social.numerique.gouv.fr
NEXT_PUBLIC_LINK_FOOTER_LINKEDIN=https://www.linkedin.com/company/arcep/mycompany/
NEXT_PUBLIC_LINK_ALERT=https://jalerteapi.arcep.fr/api/v1/alerte/pre-saisie
NEXT_PUBLIC_LINK_OPENDATA=https://www.data.gouv.fr/fr/datasets/mon-reseau-mobile/
NEXT_PUBLIC_LINK_PUBLICATION_ANTENNE=https://www.arcep.fr/cartes-et-donnees/nos-cartes/5g/derniers-chiffres.html
NEXT_PUBLIC_LINK_DEVICE_ZONE=https://www.arcep.fr/la-regulation/grands-dossiers-reseaux-mobiles/la-couverture-mobile-en-metropole/la-couverture-des-zones-peu-denses.html
NEXT_PUBLIC_LINK_MY_INTERNET_CONNECTION=https://maconnexioninternet.arcep.fr/
NEXT_PUBLIC_LINK_ABOUT=https://www.arcep.fr/larcep.html
NEXT_PUBLIC_LINK_EMAIL_INFO=https://www.arcep.fr/actualites/nos-mails-dinformation/liste-de-diffusion-mon-reseau-mobile.html

NEXT_PUBLIC_ANTENNES_POP_UP_TIMEOUT_MINUTES=15

NEXT_PUBLIC_ALTIMETRIE_API=https://data.geopf.fr/altimetrie/1.0/calcul/alti/rest/elevation.json

NEXT_PUBLIC_TOKEN_ALERT_ARCEP=6b8530e5e8bdc67ba39172d77a485f72da37b2beb4f7928e19ab8d114aca1de0

NEXT_PUBLIC_NEWS_URL=https://www.arcep.fr/actualites/les-flux-rss-de-larcep/fil-dinfos/rss.xml