{% extends "base.html" %} {% block content %}
<div class="card-body">
    <p><em>{{file_name}}</em> <strong>{{message}}</strong></p>
    {% if data_type == 'couvertures' %}
    <a type="button" class="btn btn-success" href="{%url 'couvertures' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'stats_nbope' %}
    <a type="button" class="btn btn-success" href="{%url 'couvertures' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'stat_communes' %}
    <a type="button" class="btn btn-success" href="{%url 'couvertures' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'stat_departements' %}
    <a type="button" class="btn btn-success" href="{%url 'couvertures' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'stat_regions' %}
    <a type="button" class="btn btn-success" href="{%url 'couvertures' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'stat_territoires' %}
    <a type="button" class="btn btn-success" href="{%url 'couvertures' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'sites' %}
    <a type="button" class="btn btn-success" href="{%url 'sites' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'natures' %}
    <a type="button" class="btn btn-success" href="{%url 'sites' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'qos' %}
    <a type="button" class="btn btn-success" href="{%url 'qos' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'stats_qos_departements' %}
    <a type="button" class="btn btn-success" href="{%url 'qos' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'qos_density' %}
    <a type="button" class="btn btn-success" href="{%url 'qos' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'insee_density' %}
    <a type="button" class="btn btn-success" href="{%url 'qos' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'stations' %}
    <a type="button" class="btn btn-success" href="{%url 'sites' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'antennes' %}
    <a type="button" class="btn btn-success" href="{%url 'sites' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'supports' %}
    <a type="button" class="btn btn-success" href="{%url 'sites' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'emetteurs' %}
    <a type="button" class="btn btn-success" href="{%url 'sites' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'emetteurs_link' %}
    <a type="button" class="btn btn-success" href="{%url 'sites' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'zac_poi' %}
    <a type="button" class="btn btn-success" href="{%url 'zac' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'zac_site' %}
    <a type="button" class="btn btn-success" href="{%url 'zac' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'zac_rfr' %}
    <a type="button" class="btn btn-success" href="{%url 'zac' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'zac_arp' %}
    <a type="button" class="btn btn-success" href="{%url 'zac' %}"
        >Voir la liste</a
    >
    {% elif data_type == 'zac_arp_5g' %}
    <a type="button" class="btn btn-success" href="{%url 'zac' %}"
        >Voir la liste</a
    >
    {% endif %}
</div>
{% endblock %}
